@page "/departments/{departmentId:int}/employees/{employeeId:int}/edit"
@using EMS.Core
@using EMS.Wasm.Services

<EditForm Model="@Employee" OnValidSubmit="Submit">
    <div class="form-group m-3">
        <label>First Name</label>
        <InputText class="form-control" @bind-Value="Employee.FirstName" />
    </div>
    <div class="form-group m-3">
        <label>Last Name</label>
        <InputText class="form-control" @bind-Value="Employee.LastName" />
    </div>
    <div class="form-group m-3">
        <label>Email</label>
        <InputText class="form-control" @bind-Value="Employee.Email" />
    </div>
    <div class="form-group m-3">
        <label>Join Date</label>
        <InputDate class="form-control" @bind-Value="Employee.JoinDate" />
    </div>
    <div class="form-group m-3">
        <label>Photo Path</label>
        <InputText class="form-control" @bind-Value="Employee.PhotoPath" />
    </div>
    <div class="form-group m-3"><button type="submit">Submit</button></div>
</EditForm>



@code
{
    [Parameter] public int DepartmentId { get; set; }
    [Parameter] public int EmployeeId { get; set; }

    [Inject] ApiClient Client { get; set; }

    //public cEmployee Employee { get; set; } = new();

    public rEmployee Employee { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Employee = await Client.GetEmployee(DepartmentId, EmployeeId);
    }
    private async Task Submit()
    {
        cEmployee employee = new();
        employee.FirstName = Employee.FirstName;
        employee.LastName = Employee.LastName;
        employee.Email = Employee.Email;
        employee.JoinDate = Employee.JoinDate;
        employee.PhotoPath = Employee.PhotoPath;

        await Client.UpdateEmployee(DepartmentId, EmployeeId, employee);
    }


}